body {
  font-family: "Lato", sans-serif;
}

.canvas-container {
  float: left;
  width: 50%;
}

.accordion-container {
  float: left;
  display: inline-block;
}

.accordion {
  width: 500px;
}

.accordion-text {
  display: none;
}

.accordion-text.on {
  display: block;
}

.clearfix {
  clear: both;
  display: block;
  width: 100%;
}

//ACCORDION
.accordion {
  .year,
  .year-title {
    display: inline-block;
  }
  a {
    text-decoration: none;
  }
}

.accordion-item-title {
  background-color: #f9f9f9;
  border-radius: 50px;
  display: block;
  padding: 10px 20px;
  margin-bottom: 5px;
  .year {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: black;
  }
  .year-title {
    padding-left: 10px;
    color: #545454;
  }
  .fa {
    padding-right: 10px;
    color: transparent;
    font-size: 0px;
    transition: all .3s ease;
  }
}

.accordion-item.on .accordion-item-title,
.accordion-item-title:hover {
  background-color: rgba(#EC008C, .1);
  border-radius: 50px;
  .fa {
    color: #EC008C;
    font-size: 14px;
  }
  .year {
    color: #EC008C;
  }
}

.accordion-text {
  ul {
    list-style-type: none;
    li {
      padding: 5px 20px;
      margin: 0px 0px 10px 0px;
      padding: 10px 0px;
      border-bottom: 1px solid #eaeaea;
      .fa {
        color: #EC008C;
        padding-right: 10px;
      }
    }
    li:nth-child(3n) {
      border-bottom: none;
    }
    li:nth-child(n+4) {
      display: none;
    }
  }
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.text-label {
  position:absolute;
  top:-9999px;
  left:-9999px;
  border-radius: 5px;
  border: 1px solid #EC008C;
  padding:10px;
  z-index: 10000;
  background-color:#FFF2FA;
}
