
.canvas-container {
float:left;
width:50%;
}

.accordion-container {
float:left;
display:inline-block;
}
.accordion {
width:200px;
}

.accordion-text {
display:none;
}
.accordion-text.on {
display:block;
}
.accordion-item-title a {
display:block;
padding:10px;
}
.accordion-item-title a:hover {
background-color:#999;
}

.clearfix {
clear:both;
display:block;
width:100%;
}
