body {
  font-family: "Lato", sans-serif;
}

.canvas-container {
  float: left;
  width: 50%;
}

.accordion-container {
  float: left;
  display: inline-block;
}

.accordion {
  width: 400px;
}

.accordion-text {
  display: none;
}

.accordion-text.on {
  display: block;
}

.clearfix {
  clear: both;
  display: block;
  width: 100%;
}

//ACCORDION
.accordion {
  .year,
  .year-title {
    display: inline-block;
  }
  a {
    text-decoration: none;
  }
}

.accordion-item-title {
  display: block;
  padding: 10px 20px;
  .year {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: black;
  }
  .year-title {
    padding-left: 10px;
    color: #545454;
  }
  .fa {
    padding-right: 10px;
    color: transparent;
    font-size: 0px;
    transition: all .3s ease;
  }
}

.accordion-item-title:hover,
.accordion-item-title:active {
  background-color: #f9f9f9;
  border-radius: 50px;
  .fa {
    color: #EC008C;
    font-size: 14px;
  }
  .year {
    color: #EC008C;
  }
}